[submodule "external/Touch.Unit"]
	path = external/Touch.Unit
	url = git@github.com:baulig/Touch.Unit.git
[submodule "external/NUnitLite"]
	path = external/NUnitLite
	url = git://github.com/spouliot/NUnitLite.git
