# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
out
Build

# mstest test results
TestResults

*.suo
*.vs
*.user
*.userprefs
/packages/
result.xml
.DS_Store

TestResult*.xml
JUnitTestResult*.xml
stdout*.txt
stderr*.txt
.IOS-*
