MDTOOL = "/Applications/Xamarin Studio.app/Contents/MacOS/mdtool"
MONO_FRAMEWORK = /Library/Frameworks/Mono.framework/Versions/Current
NUGET_EXE = $(MONO_FRAMEWORK)/lib/mono/nuget/NuGet.exe
XBUILD = $(MONO_FRAMEWORK)/bin/xbuild
MONO = mono

IOS_TARGET = iPhoneSimulator
IOS_CONFIGURATION = Debug
TVOS_TARGET = iPhoneSimulator
TVOS_CONFIGURATION = Debug
DOTNET_CONFIGURATION = Debug
CONSOLE_CONFIGURATION = Debug
MAC_CONFIGURATION = Debug
ANDROID_CONFIGURATION = Debug

ifeq (1,$(WRENCH))
MAC_CONFIGURATION_DEBUG = Debug
MAC_CONFIGURATION_DEBUGAPPLELTS = DebugAppleTlsWrench
else
MAC_CONFIGURATION_DEBUG = Debug
MAC_CONFIGURATION_DEBUGAPPLELTS = DebugAppleTls
endif

CONSOLE_OUTPUT_DIR = Debug
DOTNET_OUTPUT_DIR = Debug
IOS_OUTPUT_DIR = $(IOS_TARGET)/$(IOS_CONFIGURATION)
TVOS_OUTPUT_DIR = $(TVOS_TARGET)/$(TVOS_CONFIGURATION)
MAC_OUTPUT_DIR = $(MAC_CONFIGURATION)
ANDROID_OUTPUT_DIR = $(ANDROID_CONFIGURATION)

EXTRA_NUGET_RESTORE_ARGS = -Verbosity detailed -ConfigFile nuget.config

EXTRA_NUGET_RESTORE_ARGS = -Verbosity detailed -ConfigFile nuget.config

ASYNCTESTS_CONSOLE_DIR = $(TOP)/Xamarin.AsyncTests.Console/bin/$(CONSOLE_OUTPUT_DIR)
ASYNCTESTS_CONSOLE_EXE = $(ASYNCTESTS_CONSOLE_DIR)/Xamarin.AsyncTests.Console.exe
WEBTESTS_IOS_APP = $(TOP)/IOS/Xamarin.WebTests.iOS/bin/$(IOS_OUTPUT_DIR)/XamarinWebTestsIOS.app
WEBTESTS_TVOS_APP = $(TOP)/TVOS/Xamarin.WebTests.tvOS/bin/$(TVOS_OUTPUT_DIR)/XamarinWebTestsTVOS.app
WEBTESTS_MAC_APP = $(TOP)/Mac/Xamarin.WebTests.Mac/bin/$(MAC_OUTPUT_DIR)/Xamarin.WebTests.Mac.app
WEBTESTS_MAC_APP_BIN = $(WEBTESTS_MAC_APP)/Contents/MacOS/Xamarin.WebTests.Mac
WEBTESTS_CONSOLE_EXE = $(TOP)/Console/Xamarin.WebTests.Console/bin/$(CONSOLE_CONFIGURATION)/Xamarin.WebTests.Console.exe
WEBTESTS_DOTNET_EXE = $(TOP)/DotNet/Xamarin.WebTests.DotNet/bin/$(DOTNET_CONFIGURATION)/Xamarin.WebTests.DotNet.exe

WEBTESTS_ANDROID_PACKAGE_NAME = com.xamarin.webtests.android
WEBTESTS_ANDROID_MAIN_ACTIVITY = $(WEBTESTS_ANDROID_PACKAGE_NAME)/$(WEBTESTS_ANDROID_PACKAGE_NAME).MainActivity
WEBTESTS_ANDROID_PROJECT = $(TOP)/Android/Xamarin.WebTests.Android/Xamarin.WebTests.Android.csproj

TEST_KEYCHAIN = web-tests.keychain
TEST_KEYCHAIN_PASSWORD = monkey

ASYNCTESTS_ARGS =
EXTRA_ASYNCTESTS_ARGS =

ifeq (1,$(WRENCH))
WRENCH_ARGS = --wrench
else
WRENCH_ARGS =
endif

TEST_CATEGORY = All
TEST_RESULT = TestResult-$(TARGET_NAME).xml
STDOUT = stdout-$(TARGET_NAME).txt
STDERR = stderr-$(TARGET_NAME).txt

# Xcode 7.3
XCODE_VERSION=7.3
XCODE_URL=http://storage.bos.xamarin.com/bot-provisioning/Xcode_7.3.dmg
XCODE_DEVELOPER_ROOT=/Applications/Xcode73.app/Contents/Developer

# Minimum Mono version
MIN_MONO_VERSION=4.4.0.148
MAX_MONO_VERSION=4.7.0.999
MIN_MONO_URL=http://download.mono-project.com/archive/4.4.0/macos-10-universal/MonoFramework-MDK-4.4.0.148.macos10.xamarin.universal.pkg

# Minimum Xamarin Studio version
MIN_XAMARIN_STUDIO_URL=https://files.xamarin.com/~rolf/XamarinStudio-6.1.0.4373.dmg
MIN_XAMARIN_STUDIO_VERSION=6.1.0.4373
MAX_XAMARIN_STUDIO_VERSION=6.1.0.9999

# Minimum OSX versions
MIN_OSX_BUILD_VERSION=10.11
MIN_OSX_VERSION_FOR_IOS=10.10
MIN_OSX_VERSION_FOR_MAC=10.10

IOS_SDK_VERSION=9.3
OSX_SDK_VERSION=10.11
MIN_IOS_SDK_VERSION=5.1.1
MIN_OSX_SDK_VERSION=10.7

