MDTOOL = "/Applications/Xamarin Studio.app/Contents/MacOS/mdtool"
MONO_FRAMEWORK = /Library/Frameworks/Mono.framework/Versions/Current
NUGET_EXE = $(MONO_FRAMEWORK)/lib/mono/nuget/NuGet.exe
XBUILD = $(MONO_FRAMEWORK)/bin/xbuild
MONO = mono

IOS_TARGET = iPhoneSimulator
IOS_CONFIGURATION = Debug
DOTNET_CONFIGURATION = Debug
CONSOLE_CONFIGURATION = Debug
MAC_CONFIGURATION = Debug

CONSOLE_OUTPUT_DIR = Debug
DOTNET_OUTPUT_DIR = Debug
IOS_OUTPUT_DIR = $(IOS_TARGET)/$(IOS_CONFIGURATION)
MAC_OUTPUT_DIR = $(MAC_CONFIGURATION)

EXTRA_NUGET_RESTORE_ARGS = -Verbosity detailed -ConfigFile nuget.config

ASYNCTESTS_CONSOLE_DIR = $(TOP)/Xamarin.AsyncTests.Console/bin/$(CONSOLE_OUTPUT_DIR)
ASYNCTESTS_CONSOLE_EXE = $(ASYNCTESTS_CONSOLE_DIR)/Xamarin.AsyncTests.Console.exe
WEBTESTS_IOS_APP = $(TOP)/IOS/Xamarin.WebTests.iOS/bin/$(IOS_OUTPUT_DIR)/XamarinWebTestsIOS.app
WEBTESTS_MAC_APP = $(TOP)/Mac/Xamarin.WebTests.Mac/bin/$(MAC_OUTPUT_DIR)/Xamarin.WebTests.Mac.app
WEBTESTS_MAC_APP_BIN = $(WEBTESTS_MAC_APP)/Contents/MacOS/Xamarin.WebTests.Mac
WEBTESTS_CONSOLE_EXE = $(TOP)/Console/Xamarin.WebTests.Console/bin/$(CONSOLE_CONFIGURATION)/Xamarin.WebTests.Console.exe
WEBTESTS_DOTNET_EXE = $(TOP)/DotNet/Xamarin.WebTests.DotNet/bin/$(DOTNET_CONFIGURATION)/Xamarin.WebTests.DotNet.exe

ASYNCTESTS_ARGS =
EXTRA_ASYNCTESTS_ARGS =

ifeq (1,$(WRENCH))
WRENCH_ARGS = --wrench
else
WRENCH_ARGS =
endif

TEST_CATEGORY = All
TEST_RESULT = TestResult-$(TARGET_NAME).xml
STDOUT = stdout-$(TARGET_NAME).txt
STDERR = stderr-$(TARGET_NAME).txt

